@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration: double;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
